<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Con cặc</title>
  <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
  <script th:href="@{/js/bootstrap.js}"></script>
</head>
<body>
  <h1>Thêm công việc cho tao</h1>

  <form th:action="@{/addTask}" th:object="${task}" method="post">
    <p>Name: <label>
      <input type="text" th:field="*{name}">
    </label>
    </p>

    <p>Status: <label>
      <input type="text" th:field="*{status}">
    </label>
    </p>

    <button type="submit" class="btn btn-success">Add</button>
  </form>


</body>
</html>